

$fuente_principal   : "Montserrat", sans-serif;
$fuente_techno      : "Share Tech", sans-serif;
$fuente_ink         : "Bitcount Prop Double Ink", system-ui;

//! Colores
$verde      : #4cb8b2;
$rosa       : #f537cf;
$amarillo   : #fdda00;
$morado     : #b055de;
$negro      : #000000;
$blanco     : #FFFFFF;
$rojo       : #ea0d0d;
$azul       : #323be3;
$verdeOscuro: #0d5303;
$azulClaro  : #0f81d8;
$gris       : #bab7b7;

//! Media Queries

$iphone : 480px;
$ipad   : 768px;
$pc     : 1200px;
$pcXL   : 1400px;