
@use 'base/mixins' as m;
@use 'base/variables' as v;

.contenedor-entradas {
    background: linear-gradient(to bottom, v.$rojo 0% , v.$morado 100% );
    h3 {
        font-family: v.$fuente_techno;
        font-size: 8rem;
        color: v.$negro;
    }

    .entradas {
        @include m.contenedor;
        @include m.ipad {
            @include m.grid (2);
        }
    }
}
.pase {
    transition: transform .3s ease-in-out;
    

    &:hover {
        transform: scale(1.1);
    }

    &-nombre {
        font-size: 3.6rem;
        font-family: v.$fuente_techno;
        font-weight: bold ;
        text-align: center;

    }

    &-header,
    &-footer {
        padding: .5rem;

        p {
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }

    &-header {
        border-radius: 1rem 1rem 0 0;
        background: linear-gradient(to bottom, v.$rojo 0% , v.$morado 100% );
        p {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.5rem;
            padding: 1rem 0;
            color: v.$negro;
        }
    }

    &-body {
        background-color: v.$blanco;
        
        ul {
            @include m.lista;

            li {
                padding: 2rem;
                border-bottom: 2px solid v.$gris;
            }
        }
    }

    &-footer {
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 0 0 1rem 1rem;

        p {
            font-size: 2.8rem;
            font-weight: bold;
            background-color: v.$morado;
            padding: 1rem 0;
            border-radius: 1rem;
            cursor: pointer;
            color: v.$negro;

            &:hover {
                background-color: darken(v.$morado, 25%);
                color: v.$blanco;

            }
        }

    }

}