
@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    min-height: 50rem;
    max-height: 80rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        background: linear-gradient(
            270deg,
            rgba(v.$rojo, 60%),
            rgba( darken(v.$rojo, 70%), 70%)
        );
        inset: 0;

        display: flex;
        align-items: center;

    }
    
    video {
        display: block;
        width: auto;
        @include m.pc { 
            width: 100%;
        }
    }
}

.contenido-video {
    z-index: 10;

    h2  {
        
        color: v.$gris;
        font-size: 7rem;
        margin: 0;
    }
    .musica {
        font-size: 9rem;
        font-family: v.$fuente_ink;
    }
    .festiva {
        color: v.$negro;
        font-family: v.$fuente_techno;
    }
        
    p {
        font-family: v.$fuente_techno;
        background: linear-gradient(to right, darken(v.$morado, 30%), 60%, v.$rojo 100% );
        display: inline-block;
        padding: 1rem 2rem;
        color: v.$blanco;
        font-size: 2.8rem;
        font-weight: 700;
        margin: 0;
    }
}